@layer reset, theme, global, module;

@layer reset {
    * {
        margin: 0;
        padding: 0;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }
}

@layer theme {
    :root {
        font-size: 1em;

    /* Colors */
        --primary-color: #F4D04E;
        --gray-950: #111111;
        --gray-500: #6B6B6B;
        --white: #FFFFFF;

    /* Font Sizes */
        --font-lg: 1.5rem;
        --font-md: 1rem;
        --font-sm: 0.875rem;

    /* Spacing */
        --spacing-lg: 1.5rem;
        --spacing-md: 0.75rem;
        --spacing-sm: 0.5rem;
        --spacing-xs: 0.25rem;
    }
}

@layer global {
    body {
        font-family: 'Figtree', sans-serif;
        font-size: var(--font-md);
        background-color: var(--primary-color);
        min-height: 100svh;
        display: grid;
        place-items: center;
    }
}

@layer module {
    .card {
        margin-inline: 24px;
        background-color: var(--white);
        padding: 24px;
    }
}